*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.heading
{
    /* border: 2px solid black; */
    padding: 10px 60px;
    /* font-size: 60px; */
    text-align: center;
    background-color: rgb(74, 68, 68);
    box-shadow: 20px 10px 20px 10px rgb(191, 187, 187);
    color: white;
}

.heading h1
{
    font-family: fantasy;
    box-shadow: 5px 5px 5px 5px white;
    font-size: 60px;

}

.container
{
    display: flex;
    height: 100%;
    background-color: rgb(148, 131, 131);
  box-shadow: 20px 30px 20px 10px rgb(36, 35, 35);

}

.row
{
    width: 100%;
    height: 592px;
  /* border: 2px solid red; */

}

ul
{
    list-style-type: none;
  /* width: %; */
  background-color: rgb(132, 114, 114);
  height: 110%;
  box-shadow: 0px 0px 10px 0px rgb(36, 35, 35);

  /* overflow: auto; */
}

li a{
  display: block;
  color: white;
  padding:30px 0px;
  text-decoration: none;
  text-align: center;
  /* border: 2px solid red; */
}
 


footer
{
    width: 100%;
    height: 100%;
    padding: 40px 0px;
    background-color: rgb(74, 68, 68);
  box-shadow: 20px 10px 20px 10px rgb(36, 35, 35);
    
    color: black;
    text-align: center;
}
table
{
    /* border: 2px solid black; */
    border-radius: 20px;
    color: rgb(24, 22, 22);
    width: 70%;
    height: 80%;
    text-align: center;
    margin: 10px 70px;
    padding: 10px 40px;
}

td,tr
{
    width: 50%;
    padding:10px 30px;
    /* border: 1px solid #dddddd; */
}

.c1{
    border: 2px solid yellow;
    background-color: rgb(227, 218, 218);
    opacity: 0.7;
    border: 2px solid black;
    border-radius: 25px;
    width: 100%;
    margin: 40px;
}
table img:hover {
    width: 225px;
    height: 255px;
}

.col p
{
    float: right;
    width: 50%;
    margin-left: -30px;
    padding:30px  30px;
    font-size: 20px;
    text-align: center;
}

.col img{
    width: 40%;
    height: 33em;
    padding: 30px 20px;
    /* border: 2px solid red; */
    margin-left: 50px;
}

.text1 
{
    float: left;
    width: 100%;
    height: 100%;
    padding: 0px 30px;
    /* background-color: red; */
    display: inline-block;
    margin-top: 8%;
    text-align: center;
}

form{
    width: 100%;
    height: 80%;
    /* background-color: white; */

}

form
{
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 30px 50px;
    color: black;
    display: inline-block;
    /* background-color: red; */
}

fieldset
{
    /* border: none; */
    padding: 2rem 0;
    /* border-bottom: 3px solid #3b3b4f; */
}

fieldset:last-of-type
{
    border-bottom: none;
}

label
{
    display: block;
    margin: 0.5rem 0;
}

input, textarea, select
{
    margin: 50px 0 0 0;
    width: 100%;
    border-radius: 5px;
    min-height: 3em;
}

input, textarea
{
    /* background-color: black; */
    /* border: 1px solid #0a0a23; */
    color:black;
}


input[type="submit"]
{
    display: block;
    width: 60%;
    margin: 0em 5em;
    height: 2em;
    font-size: 1.1rem;
    background-color: #544444;
    /* border-color: white; */
    min-width: 300px;
}


.signup
{
    text-align: center; 
    display: inline-block; 
     width: 100%; 
     height: 90%;
     border-radius: 10px;
     margin-left: 30%; 
     box-shadow:10px 10px 2px 2px solid wheat;
}

.signup a
{
    text-decoration:none; 
    cursor:pointer; 
    color:black;
}

.login
{
    width: 50%;
    height: 50%;
    /* background-color: #544444; */
    display: block;
    text-decoration: none;
}

.login button
{
        background-color: #544444;
    margin-left: 5%; width: 50%; height: 40px;
}

.login a.forget 
{
    text-decoration:none; 
    margin-left: 70%;
}

.lohri p
{
    padding: 30px;
}